*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 20px 0px 0 20px;
  font-size: 1.5em;
  border-bottom: 2px solid #222;
  font-weight: 100;
}
.note{
  color: red;
  width: 100%;
 
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 50px 50px 50px;

}
.container .subheading{
  display: flex;
  flex-direction: row;
  font-size: 2em;
  margin-bottom: 30px;
  padding-top: 10px;
  margin-top: 40px;
  border-bottom: 1px solid #222;
}

.container .box{
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 10px;
}


.container .box .col{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.container .box .col img{
  width: 100%;
  margin-top: 30px;
  padding-bottom: 0px;
  border-radius: 5px;

}



.container .box .col p{
  padding-bottom: 20px;
  font-size: 1em;
}